<div class="popup-item age-check">
  <img  src="img/DRINKAPP_LOGOTIPO-01.svg">
  <!--<div class="icon ion-minus-circled age-check-ico"></div>-->
  <p class="message-warning">
    AL INGRESAR CONFIRMAS QUE ERES MAYOR DE EDAD
  </p>
  <div>
    <button ng-click="closePopup();" class="button button-assertive">
      INGRESAR
    </button>
  </div>
  <div>
    <button id="close-app-buttom" ng-click="exitApp();" class="button button-small button-light">
      SALIR
    </button>
  </div>
    <p class="black-background">TOMAR BEBIDAS ALCOHÓLICAS EN EXCESO ES DAÑINO</p>
    <p class="black-background">FUMAR PERJUDICA GRAVEMENTE SU SALUD Y DE LAS PERSONAS QUE ESTÉN A SU ALREDEDOR</p>
</div>
