<div class="modal">
  <!-- Modal header bar -->
  <ion-header-bar class="bar-secondary">

    <h1 class="title">EDITAR DIRECCIÓN</h1>
    <button class="button button-clear" ng-click="closeModalData(3)">Cancelar</button>
  </ion-header-bar>
  <!-- Modal content area -->
  <ion-content>

    <form class="dir-form" name="directionEditForm" novalidate="" ng-submit="doEditDirection(directionEditForm)">
      <div class="list">
        <ion-spinner class="spinner-assertive" ng-if="loading == true"></ion-spinner>
        <p ng-if="error_server" class="item error">{{error_server}}</p>
        <p ng-if="success_server" class="item success">{{success_server}}</p>

        <!--<label class="item item-input item-select" ng-class="{ 'has-errors' : directionEditForm.nombre.$invalid && directionEditForm.$submitted, 'no-errors' : directionEditForm.nombre.$valid && directionEditForm.$submitted}">
          <div class="input-label">Este lugar es</div>
          <select ng-change="updateName(2)" id="nombre" name="nombre" ng-init="edit_dir.nombre=''" ng-model="edit_dir.nombre" required>
            <option value="" disabled hidden></option>
            <option value="Mi casa">Mi casa</option>
            <option value="Mi trabajo">Mi trabajo</option>
            <option value="other">Otro</option>
          </select>
        </label>
        <div class="error-container" ng-show="directionEditForm.nombre.$error && directionEditForm.$submitted" ng-messages="directionEditForm.nombre.$error">
          <div ng-messages-include="templates/errors.html"></div>
        </div>-->

        <!--<label ng-if="edit_dir.is_other_name" class="item item-input" ng-class="{ 'has-errors' : directionEditForm.custom_name.$invalid && directionEditForm.$submitted, 'no-errors' : directionEditForm.custom_name.$valid && directionEditForm.$submitted}">-->
        <label  class="item item-input" ng-class="{ 'has-errors' : directionEditForm.custom_name.$invalid && directionEditForm.$submitted, 'no-errors' : directionEditForm.custom_name.$valid && directionEditForm.$submitted}">
          <span class="input-label">Este lugar es</span>
          <input name="custom_name" type="text" placeholder="Ingresar un nombre. Ejemplo : 'Mi casa'" ng-model="edit_dir.custom_name" ng-model-options="{ updateOn: 'submit' }" ng-minlength="4" required>
        </label>
        <div class="error-container" ng-show="directionEditForm.custom_name.$error && directionEditForm.$submitted" ng-messages="directionEditForm.custom_name.$error">
          <div ng-messages-include="templates/errors.html"></div>
        </div>


        <label class="item item-input" ng-class="{ 'has-errors' : directionEditForm.calle.$invalid && directionEditForm.$submitted, 'no-errors' : directionEditForm.calle.$valid && directionEditForm.$submitted}">
          <span class="input-label">Dirección</span>
          <input name="calle" type="text" placeholder="Ingresa una dirección" ng-model="edit_dir.calle" required>
        </label>
        <div class="error-container" ng-show="directionEditForm.calle.$error && directionEditForm.$submitted" ng-messages="directionEditForm.calle.$error">
          <div ng-messages-include="templates/errors.html"></div>
        </div>

        <label class="item item-input item-select" ng-class="{ 'has-errors' : directionEditForm.distrito.$invalid && directionEditForm.$submitted, 'no-errors' : authorizationForm.nombre.$valid && authorizationForm.$submitted}">
          <div class="input-label">Distrito</div>
          <select id="distrito" name="distrito" ng-init="edit_dir.distrito=''" ng-model="edit_dir.distrito" required>
            <!--<option value="" disabled hidden></option>-->
            <option value="san-isidro">San Isidro</option>
            <option value="san-borja">San Borja</option>
            <!--<option value="la-molina">La Molina</option>-->
            <option value="miraflores">Miraflores</option>
            <option value="surco">Surco</option>
          </select>
        </label>
        <div class="error-container" ng-show="directionEditForm.distrito.$error && directionEditForm.$submitted" ng-messages="directionEditForm.distrito.$error">
          <div ng-messages-include="templates/errors.html"></div>
        </div>

        <label class="item item-input" ng-class="{ 'has-errors' : directionEditForm.referencias.$invalid && directionEditForm.$submitted, 'no-errors' : directionEditForm.referencias.$valid && directionEditForm.$submitted}">
          <span class="input-label">Referencias</span>
          <input name="referencias" type="text" placeholder="Ingresa una referencia" ng-model="edit_dir.referencias">
        </label>
        <div class="error-container" ng-show="directionEditForm.referencias.$error && directionEditForm.$submitted" ng-messages="directionEditForm.referencias.$error">
          <div ng-messages-include="templates/errors.html"></div>
        </div>

      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-assertive">Validar
        </button>
      </div>
    </form>

  </ion-content>

</div>
