/* Empty. Add your own CSS if you like */
body, .ionic-body{
  font-family: "PT Sans", "Roboto", "Segoe UI", sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: "PT Sans", "Roboto", "Segoe UI", sans-serif;
}
h1:first-child, .h1:first-child, h2:first-child, .h2:first-child, h3:first-child, .h3:first-child{
  margin-top:7px;
  text-transform: uppercase;
}
.bar.bar-assertive{
  border-color: red;
  background-color: red;
}
.button.button-assertive{
  border-color: red;
  background-color: red;

}
.button.button-assertive.button-clear{
  color: red;
}
/** OVERRIDE PLATEFORM **/
.loader-wraper{
  text-align: center;
  /*margin-top: 40%;*/
  color: red;
}
.platform-android .bar .title{
  /*text-align: center;*/
}
span.previous-title{
  text-transform: capitalize;
}
.item p.error{
  color:red;
  white-space: normal;
}
.error{
  color:red;
  white-space: normal;
  /*padding: 10px 16px;*/
  padding: 5px 0px;
  font-family: "Arial Black",Gadget,sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
}
.success{
  color:#33cd5f;
}
.platform-android .bar .title img{
  height: 38px;
  position: relative;
  top: 2px;
}
.platform-ios .bar .title img{
  height: 38px;
  position: relative;
  top: 2px;
}
.platform-ios .back-text{
  display: none;
}
.platform-ios #input-quantity{
  padding: 0px;
}
.platform-android .back-text{
 display: none;
}

.popup-container .popup{
  background-color: #fff;
}
.platform-android .header-item {
  transition-duration: 0ms;
}
.platform-android #category-view .item-avatar > img:first-child{
  max-width: 65px;
  max-height: 65px;
}
.platform-android #category-view .item {
  padding-top: 35px;
  text-transform: uppercase;
  min-height: 85px;
  padding-left: 96px;
  padding-bottom: 35px;
}
.platform-ios .header-item {
  transition-duration: 0ms;
}
.button{
  border-color: #ddd;
}
.age-check-popup .popup-body{
  padding: 0px;
}
.age-check .message-warning{
  font-weight: bold;
  font-size: 16px;
}
.age-check{
  text-align: center;
  padding-top: 8px;
  font-size: 11px;
}
.age-check img{
  width: 100px;
}
.confirm-order-popup{
  text-align: center;
}
.confirm-order-popup img{
  width: 100px;
}
.confirm-order-popup .message-warning{
  font-weight: bold;
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  padding: 8px;
  text-align: center;
}
.age-check .button{
  margin-bottom: 10px;
}
.age-check .button.button-assertive{
  font-weight: bold;
  letter-spacing: 2px;
}
.age-check-ico.ion-minus-circled:before{
  font-size: 30px;
  color: #ef473a;
}
.black-background{
  background-color: black;
  color: white;
  font-weight: normal;
  line-height: 15px;
}
.previos-buttom{
  position: absolute;
  top: 1px;
  z-index: 500;
  left: 60px;
}
.platform-ios .previos-buttom{
  top:18px;
  left: 52px;
}

.button-clear.button-clear.previos-buttom{
  min-width: 32px;
  min-height: 32px;
  padding: 0px;
}
.previos-buttom img{
  width: 34px;
  height: 32px;
}
.previos-buttom span{
  color: white;
  font-size: 9px;
  vertical-align: top;
  display: block;
  line-height: 8px;
  position: relative;
  top: -15px;
}
.platform-android .previos{
  padding: 8px;
}

.previos .button.button-assertive.button-clear{
  position: absolute;
  right: 8px;
  color: white;
}
.previos img{
  width: 100%;
}
/**  CUSTOM **/
#account-view .user-data .button{
  float: right;
}
#account-view .item.item-last{
  border-bottom: 0px;
  border-top: 0px;
}
#account-view .user-data{
  line-height: 30px;
}
#account-view .add-dir{
  color: black;
  float: right;
}
.popup-head{
  display: none;
}
.my-header-popup{
  text-align: right;
}
/*.popup-body{
  padding-top: 0px;
  padding-bottom: 0px;
}*/
.platform-android  .popup-body{
  padding: 0px;
  overflow: hidden;
}
.platform-android .button .icon:before,.platform-android .button.icon:before,.platform-android .button.icon-left:before,.platform-android .button.icon-right:before{
  font-size: 32px;
}
.item-container{
  background-color:#fff;
  padding: 0px;
}
.item-container{
  min-width: 75%;
}
.item-container img{
  width: 60%;
}
.item-info{
  background: #FAFAFA;
  text-align: left;
  padding: 2px;
}
.item-info .item-title{
  min-height: 55px;
  text-align: center;
}
.platform-ios #close-app-buttom{
  display: none;
}
.item-info p{
  margin-bottom: 0px;
  padding: 0px;
  line-height: 1;
}
.item-info .item-price{
  font-weight: bold;
  text-align: right;
  color: red;
  border-top: 1px solid #FFFA58;
  padding: 5px;
}
.login-basic i{		
  font-size: 25px;		
  padding-left: 10px;		
}		
.login-basic span{		
  vertical-align: top;		
  position: relative;		
  top:1px;		
}		
#form-login-popup form{		
  padding: 10px;		
}		
#form-login-popup .bottom{		
  margin-top: 10px;		
}		
#form-login-popup .list{		
  border-left: 1px solid #ddd;		
  border-right: 1px solid #ddd;		
}
.popup-item{
  text-align: center;
}
#input-quantity{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}
.select-quantity .button .icon:before, .select-quantity.button.icon:before, .select-quantity.button.icon-left:before, .select-quantity.button.icon-right:before{
  font-size: 30px;
}
.order-item{
  text-align: left;
  padding-top: 15px;
}
.item-thumbnail-left, .item-thumbnail-left .item-content{
  padding-top: 20px;
  padding-right: 10px;
}
#order-view .order-item-quantity{
  float: right;
  color: #000000;
  position: relative;
  left: 5px;
}
.quantity{
  font-weight: bold;
  font-size: 1.5em;
}
.quantity-text{
  vertical-align: top;
  position: relative;
  top: -1px;
}
.menu-left{
  background-color: #444;
}
.menu-left .item{
  background-color: #444;
  color: #fff;
  line-height: 38px;
}
.menu-left .item a{
  background-color: #444;
}
.menu-left .item.activated{
  color: black;
}
.menu-left .item .item-content.activated{
  color: black;
}
.order-item .ion-plus:before{
  font-size: 40px;
}
.order-item .ion-minus:before{
  font-size: 40px;
}
#order-view .item-options .button:nth-child(1){
  border-right: 2px solid black;
}
.delete-pop-up-confirm{
  text-align: center;
}
#order-view{
}
.title{
  text-align: center;
 }
#order-view .buttons button{
  color: red;
}
#order-view .item-delete .button.icon{
  top:25%;
}
.logout-wrap{
  text-align: center;
  float: right;
  position: relative;
  top: 10px;
}

.hidden-obj{
  visibility: hidden;
}
.img-box-slider img{
  width: 100%;
}
.total-amount{
  border-color: #ccc;
  background-color: rgba(204, 204, 204, 0.2);
  /* background-image: linear-gradient(0deg, #e42012, #e42012 50%, transparent 50%); */

  text-align: right;
}
.to-pay-bottom{
  text-align: center;
}
.to-pay-bottom span{
  color: black;
  font-style: italic;
}
.block-socials{
  margin-top: 5%;
  text-align: center;
}
.block-socials a{
  color: white;
}
.quantity-change{

  float: right;
}
.quantity-change span{
  color: black;
}
.quantity-change span.ion-arrow-swap{
  padding-right: 5px;
  font-size: 22px;
  vertical-align: middle;
}
.total-amount p{
  color: black;
}
.total-amount .total{		
  font-size: 20px;		
}
.total-amount span{
  font-weight: bold;
}
#category-view .item img{
  border: 1px solid #ddd;
}
#category-view .item{
  padding-top: 25px;
  text-transform: uppercase;
}
#product-view{
  text-align: center;
}
.my-footer{
  height: auto;
}
.my-footer p{
  margin: 0px;
}
.dir-form input{

}
.dir-form .item-select select{
  left: 32%;
  direction: ltr;
  padding-top: 12px;
  padding-bottom: 8px
}
.my-footer .footer-block{
  padding: 0px;
}
.my-footer .footer-block:nth-child(2){
  text-align: right;
}
.footer-amount{
  font-weight: bold;
  font-size: 1.2em;
}
.platform-ios .footer-amount{
  font-size: 1em;
}
.my-footer .ion-android-arrow-dropright-circle:before{
  font-size: 30px;
  vertical-align: middle;
  padding-left: 10px;
}
.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated{
  background-color:   #FFFA58;
}
.previos-buttom.active, .previos-buttom.activated{
  background-color:   transparent!important;
}
#product-view .button.active, .button.activated{
  background-color:   #FFFA58;
}
.button.activated .item-info{
  background-color: transparent;
}
